{% extends 'movies_app/base.html' %}
{% block content %}
<div class="flex flex-col items-center justify-center">
    <div class="content p-10 mt-[-50px]">
        <h1 class="p-10 text_shadows ">Random Movie</h1>
    </div>
    
    <form method="POST" class="">
        {% csrf_token %}
        <button class="btn-class-name pb-10" type="submit" name="roll">
            <span class="back"></span>
            <span class="front"></span>
        </button>
    </form>
    <div class="p-10">
        <form method="POST" class="p-10">
            {% csrf_token %}
            <input type="submit" name="add" value="Add a Movie" class="
                    bg-slate-800 
                    p-5 
                    rounded-lg 
                    text-white 
                    hover:bg-slate-600 
                    hover:cursor-pointer
                    text-4xl
                    copse-regular
                    ">
        </form>
    </div>
</div>
{% endblock %}