{% extends 'movies_app/base.html' %}
{% block content %}
<div class="flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center h-100%">
        <h1 class="text-4xl text-white bungee-regular p-5">  Review for <span class="text-cyan-300">{{ movie.title }}</span>:</h1>
        
        <form id="form" method="POST" class="flex flex-col p-2 pb-5 text-black lg:w-[900px] md:w-[750px] sm:w-[600px] w-[350px] justify-center">
            {% csrf_token %}
            <input type="hidden" name="movie_id" value="{{ movie.movie_id }}">
            <input type="hidden" name="title" value="{{ movie.title }}">
            <input type="hidden" name="overview" value="{{ movie.overview }}">
            <div id="editor" class="bg-white text-wrap">

            </div>
            <div class="flex flex-col justify-between py-5">
                <textarea name="text"  id="hiddenArea" class="p-2 mb-2 rounded-md"></textarea>
                <div class="flex flex-row justify-end gap-2">
                    <div>
                        <input type="number" name="rating" min="0" max="100" placeholder="Rating" class="bg-white text-black p-2 w-[70px] rounded-md text-md copse-regular">
                        <label for="rating" class="text-white" class>/100</label>
                    </div>
                    <input type="submit" name="submit_review" value="Submit Review" class="p-2 bg-white rounded-lg hover:bg-lime-300 hover:cursor-pointer">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}