{% extends 'movies_app/base.html' %}
{% block content %}
<div class="flex flex-col items-center">
    <h1 class="p-5 text-4xl text-white bungee-regular">Watchlist</h1>
    {% if movies %}
    <div class="grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 w-100% h-100% gap-4 p-5">
        {% for movie in movies %}
        <div class="flex flex-row text-white border-white border-2 rounded-lg over gap-2">
            <div class="flex justify-center h-[200px] shrink-0 border-white basis-32 ">
                <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="object-cover">
            </div>
            <div class="flex flex-col h-fit">
                <div class="flex flex-col overflow-hidden ">
                    <h1 class="text-white text-md bungee-regular truncate hover:text-wrap">{{ movie.title }}</h1>
                    <div class="h-[120px] overflow-hidden hover:text-wrap hover:h-fit">
                        <p class="text-ellipsis hover:text-wrap">{{ movie.overview }}</p>
                    </div>
                </div>
            
                <div class="flex flex-row h-[50px] justify-end content-end px-5 py-2 gap-6 z-20">
                    <form method="POST" class="hover:cursor-pointer">
                        {% csrf_token %}
                        <input type="hidden" name="movie_id" value="{{ movie.id }}">
                        <div class="group relative">
                            <button type="submit" name="review" value="Review" class="text-lg">
                                <svg stroke-linecap="round" stroke-width="2" viewBox="0 -960 960 960" xmlns="http://www.w3.org/2000/svg"
                                    fill="white" stroke="white"
                                    class="w-8 hover:scale-125 duration-200 hover:stroke-blue-500 text-white color-white">
                                    <path
                                        d="M240-400h122l200-200q9-9 13.5-20.5T580-643q0-11-5-21.5T562-684l-36-38q-9-9-20-13.5t-23-4.5q-11 0-22.5 4.5T440-722L240-522v122Zm280-243-37-37 37 37ZM300-460v-38l101-101 20 18 18 20-101 101h-38Zm121-121 18 20-38-38 20 18Zm26 181h273v-80H527l-80 80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        <input type="hidden" name="movie_id" value="{{ movie.movie_id }}">   
                    </form>
                    <form method="POST" class="">
                        {% csrf_token %}
                        <div class="group relative">
                            <button type="submit" name="review" value="Review" class="text-lg">
                                <svg stroke-linecap="round" stroke-width="2" viewBox="0 -960 960 960" xmlns="http://www.w3.org/2000/svg"
                                    fill="white" stroke="white"
                                    class="w-8 hover:scale-125 duration-200 hover:stroke-blue-500 text-white color-white">
                                    <path
                                        d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        <input type="hidden" name="movie_id" value="{{ movie.movie_id }}">
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h1 class="text-6xl p-10">No movies found</h1>
    {% endif %}
</div>
{% endblock %}